@charset "UTF-8";
@import url(../fonts/font.css);
body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
  body.classic {
    background-color: transparent; }

.classic-block {
  display: none !important; }

.news-content {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  .news-content__tag {
    display: inline-block;
    margin: 10px 10px 10px 0;
    font-size: 11px;
    color: #093553; }
  .news-content__remove {
    float: right;
    display: inline-block;
    margin: 8px 0;
    width: 18px;
    height: 18px;
    background-image: url(../img/delete.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center; }
  .news-content__title {
    margin: 0 0 15px;
    font-size: 24px;
    line-height: 1.4em;
    color: #093553;
    font-weight: bold; }
  .news-content__image-container {
    position: relative; }
    .news-content__image-container .checkbox {
      position: absolute;
      top: 12px;
      right: 12px;
      width: 24px;
      height: 24px;
      border: 2px solid #979797;
      border-radius: 50%; }
    .news-content__image-container .checkbox:before {
      content: "";
      background-image: url(../img/checked-g.png);
      background-repeat: no-repeat;
      background-size: 14px 14px;
      background-position: center center; }
  .news-content__image {
    margin-bottom: 15px;
    width: 100%;
    min-height: 50px; }
  .news-content__detail {
    padding: 0 0 10px;
    font-size: 12px;
    color: #58595b; }
    .news-content__detail p {
      line-height: 1.5em; }
  .news-content__type {
    font-size: 12px;
    color: #84c0ca; }
  .news-content__time, .news-content__summary {
    font-size: 12px;
    color: #8a8a8a; }
  .news-content__summary span {
    vertical-align: middle; }
  .news-content__summary span ~ span:before {
    content: "·";
    vertical-align: middle;
    display: inline-block;
    margin: 0 5px; }
  .news-content__operations {
    padding: 10px 0;
    border-bottom: 1px solid #84c0ca; }
  .news-content__operation-list {
    float: right;
    display: inline-block;
    font-size: 0; }
    .news-content__operation-list li {
      vertical-align: middle;
      display: inline-block; }
    .news-content__operation-list img {
      max-height: 18px; }
  .news-content__comments {
    padding: 10px 0; }
    .news-content__comments span {
      margin-left: 5px; }
  .news-content__comments-button {
    padding: 0;
    border: 0;
    background-color: transparent;
    font-size: 12px;
    color: #8a8a8a; }
  .news-content__recent-update-title {
    padding: 0 15px 15px;
    border-right: 1px solid #84c0ca;
    margin: 15px 0 0;
    max-width: 260px;
    color: #093553; }
  .news-content__popular-bg {
    display: none; }
    .news-content__popular-bg img {
      max-width: 100%; }
  .news-content__popular-operation {
    padding: 14px 10px;
    margin: auto;
    max-width: 1440px; }
    .news-content__popular-operation .dropdown {
      position: relative; }
    .news-content__popular-operation .dropdown-menu {
      width: 100%; }
  .news-content__popular-today, .news-content__popular-total {
    float: right;
    margin: 10px 20px; }
    .news-content__popular-today label, .news-content__popular-total label {
      color: #84c0ca; }
    .news-content__popular-today span, .news-content__popular-total span {
      color: #093553; }
  .news-content.popular {
    background-color: #fff;
    top: 126px;
    margin-top: 15%; }
  .news-content__popular-bg {
    background-color: #fff; }

.news-topics {
  padding-left: 10px; }
  .news-topics__container {
    display: none;
    position: absolute;
    top: 0;
    left: 275px;
    padding: 20px; }
  .news-topics__topic {
    padding: 10px 0 20px;
    border-bottom: 1px solid #84c0ca; }
  .news-topics__topic-detail {
    padding-left: 15px; }
  .news-topics__topic-image img {
    width: 100%; }
  .news-topics__topic-type {
    margin-top: 0;
    font-size: 16px;
    color: #84c0ca;
    font-weight: bold; }
  .news-topics__title {
    margin-bottom: 5px;
    font-size: 20px;
    color: #093553; }
  .news-topics__source {
    font-size: 12px;
    color: #8a8a8a; }
    .news-topics__source strong {
      color: #84c0ca; }
  .news-topics__topic-brief {
    color: #000;
    line-height: 1.5em; }
  .news-topics__storys .media-top ~ .media-top {
    padding-left: 20px; }
  .news-topics__storys .news-content__title {
    margin-top: 15px;
    margin-bottom: 5px; }
  .news-topics__story {
    padding: 15px 0; }
    .news-topics__story .news-content__title {
      margin-top: 0; }
  .news-topics__story-image {
    width: 114px;
    height: 74px;
    background-color: #58595b; }
    .news-topics__story-image img {
      object-fit: cover;
      object-position: center center; }

.news-ads {
  padding-left: 30px; }
  .news-ads__title {
    color: #093553; }
  .news-ads__detail img {
    width: 90%; }
  .news-ads__detail p {
    margin-left: auto;
    margin-right: auto;
    max-width: 250px; }
  .news-ads__slider-container {
    padding: 20px 40px;
    margin: 50px 15px;
    color: #fff;
    background-color: #093553; }
    .news-ads__slider-container p {
      font-size: 12px;
      line-height: 1.5em;
      font-weight: lighter; }
  .news-ads__article {
    max-width: 270px; }
  .news-ads__sliders {
    position: relative;
    padding: 20px 0 40px; }
    .news-ads__sliders .prev-icon,
    .news-ads__sliders .next-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%); }
    .news-ads__sliders .prev-icon {
      left: 0; }
    .news-ads__sliders .next-icon {
      right: 0; }
    .news-ads__sliders .prev-icon img,
    .news-ads__sliders .next-icon img {
      width: 20px; }
  .news-ads__slider {
    width: 80%;
    margin: auto; }
    .news-ads__slider img {
      width: 100%; }

.grid {
  margin: auto;
  max-width: 1440px; }

.grid-item {
  padding: 15px;
  cursor: pointer; }
  .grid-item > a {
    display: block; }

.filter ~ .news-content {
  top: 220px; }
.filter .container {
  text-align: center;
  padding: 30px 0;
  border-bottom: 1px solid #e9eaea; }
.filter__list {
  margin: 0; }
.filter__item {
  display: inline-block;
  padding: 5px;
  margin: 10px;
  font-size: 14px;
  color: #093553;
  font-weight: bold;
  cursor: pointer; }
.filter__item.figures {
  color: #efad4d; }
.filter__item.presentation {
  color: #9aa0ce; }
.filter__item.publications {
  color: #dd9392; }
.filter__item.taxila {
  color: #84c0ca; }
.filter__icon {
  margin-left: 5px;
  max-width: 8px; }
.filter__divider {
  display: inline-block;
  margin: 15px 0;
  width: 100px;
  height: 2px;
  background-color: #84c0ca; }

.filter-detail {
  display: none;
  margin: auto;
  max-width: 1000px; }
  .filter-detail__item {
    display: inline-block;
    margin: 8px; }
  .filter-detail__text {
    color: #8a8a8a; }
  .filter-detail__icon {
    max-width: 10px; }

.chart__back-button {
  display: inline-block;
  border: 0;
  padding: 0 6px;
  background-color: transparent;
  width: 26px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg); }
  .chart__back-button img {
    vertical-align: top;
    max-width: 100%; }
.chart__page-title {
  display: table-cell;
  vertical-align: top;
  min-width: 230px;
  color: #84c0ca;
  line-height: 2em;
  transform: translateX(-40px);
  -webkit-transform: translateX(-40px); }
  .chart__page-title h3 {
    vertical-align: top;
    display: inline-block;
    margin: 0 5px;
    font-size: 18px; }

@media (max-width: 1199px) {
  .grid-item {
    width: 33.333333%; } }
@media (max-width: 1024px) {
  .grid-item {
    width: 50%; }

  .news-content {
    top: 51px; }

  .news-topics {
    width: 100%; }

  .news-ads {
    display: none; } }
@media (max-width: 767px) {
  .grid-item {
    width: 100%; }

  .filter__item {
    margin: 3px;
    font-size: 12px; }

  .filter-detail__item {
    font-size: 12px; } }
.classic .classic-none {
  display: none !important; }
.classic .classic-block {
  display: block !important; }
.classic .news-content__type {
  font-size: 16px; }
.classic .news-content__title {
  color: #000;
  font-size: 14px;
  font-weight: normal; }
.classic .grid {
  border-right: 1px solid #84c0ca;
  margin: 0;
  max-width: 260px; }
.classic .grid-item {
  width: 100%; }

@media (max-width: 996px) {
  .news-topics {
    padding-left: 0; }
    .news-topics .col-6 {
      width: 100%; }
    .news-topics__container {
      position: relative;
      left: 0;
      padding: 0; }
    .news-topics__topic-detail {
      padding-left: 0; }
    .news-topics__topic-type {
      display: none; }
    .news-topics__title {
      margin: 10px 0;
      font-size: 16px;
      line-height: 1.3em; }
    .news-topics__topic-brief {
      font-size: 12px; }
    .news-topics__storys .news-content__title {
      font-size: 12px; }

  .news-content__recent-update-title {
    padding: 0;
    border-right: 0;
    margin: 0;
    max-width: none; }

  .classic .news-topics__topic-image {
    margin: 0 -15px;
    width: auto; }
  .classic .news-content__grid-mobile-container {
    padding: 15px 0;
    border-top: 1px solid #84c0ca; }
  .classic .grid {
    border-right: 0;
    max-width: none; }
  .classic .grid-item {
    padding: 10px 0; } }

/*# sourceMappingURL=news.css.map */
