html,
body,
.login__container {
  height: 100%;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

.login {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/login-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden; }
  .login__content {
    width: 100%; }
  .login__logo {
    padding: 60px;
    width: 70%;
    max-width: 354px; }
    .login__logo img {
      width: 100%; }
  .login__form-container {
    margin: 10% auto;
    max-width: 270px; }
  .login__sign-links {
    width: 70%; }
  .login__sign-list {
    display: inline-block;
    margin: 30px 0;
    color: #8a8a8a;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%); }
    .login__sign-list li {
      display: inline-block;
      font-size: 0; }
    .login__sign-list a {
      display: inline-block;
      padding: 6px 12px;
      font-size: 14px;
      color: inherit; }
    .login__sign-list li + li:before {
      vertical-align: middle;
      content: "";
      display: inline-block;
      width: 1px;
      height: 10px;
      border-left: 1px solid #84c0ca; }
  .login__welcome {
    margin: 0 0 40px;
    color: #4a4a4a;
    font-weight: bold; }

.sign-form input[type="text"],
.sign-form input[type="password"] {
  padding: 6px 12px;
  width: 100%;
  min-height: 30px;
  line-height: 20px;
  font-size: 12px;
  color: #dadada;
  border: 0; }
.sign-form ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #dadada; }
.sign-form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #dadada; }
.sign-form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #dadada; }
.sign-form :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #dadada; }
.sign-form__group {
  margin-top: 30px;
  border: 1px solid #dadada;
  max-width: 270px;
  background-color: #fff;
  border-radius: 20px;
  outline: none;
  overflow: hidden; }
.sign-form__button-group {
  max-width: 270px;
  margin: 30px 0; }
  .sign-form__button-group a {
    font-size: 11px;
    color: #58595b; }
.sign-form__login-button {
  padding: 6px;
  border: 0;
  min-height: 34px;
  line-height: 24px;
  width: 100%;
  color: #fff;
  font-size: 14px;
  border-radius: 20px;
  background-color: #093553;
  box-shadow: 0 6px 8px 0 rgba(9, 53, 83, 0.31); }

.sign-social {
  display: inline-block; }
  .sign-social__container {
    max-width: 270px;
    width: 100%;
    color: #8a8a8a; }
  .sign-social label {
    color: inherit; }
  .sign-social li {
    margin-left: 10px;
    display: inline-block; }
  .sign-social a {
    display: block; }
  .sign-social img {
    max-width: 24px; }

@media (max-width: 959px) {
  .login__content {
    margin-left: 20%;
    width: 80%; } }
@media (max-width: 767px) {
  .login .col-6 {
    width: 100%; }

  .login__content {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px; } }

/*# sourceMappingURL=sign.css.map */
