.jquery-modal {
  z-index: 12;

  a.close-modal {
    display: none;
  }
}

.modal {
  &__container {
    padding: 0;
    border: 1px solid $theme-color-1;
    border-radius: 0;
    max-width: 95%;

    &.patents-modal {
      width: 700px;
    }
  }

  &__header {
    position: relative;
    padding: 12px 20px;
    color: $white;
    background-color: $theme-color-1;

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto 20px;
      width: 14px;
    }
  }

  &__header-title {
    display: inline-block;
    margin: 0;
  }

  &__list {
    margin: 0;
  }

  &__item {
    padding: 12px 20px;
    border-bottom: 1px solid $lightest-gray;

    &.active {
      color: $theme-color-1;
    }
  }
}

.add-new-resource {
  .home-modal__delete {
    font-weight: bold;
  }

  &__container {
    max-width: 540px;
    margin: 0 auto;
  }

  &__form-group {
    margin-bottom: 20px;
  }

  &__label {
    color: $theme-color-2;
    font-weight: bold;
  }
}

#operation-galaxy {
  .date-picker {
    max-width: 170px;
  }
}

#operation-analyse-sentiment {
  section {
    border-bottom: 0;
  }

  .col-8 {
    padding-right: 20px;
  }

  .home-modal__section {
    display: none;
  }

  .home-modal__section.active {
    display: block;
  }
}

#selected-articles {
  padding: 15px;

  .home-modal__header {
    border-bottom: 0;
  }

  .home-modal__delete {
    margin: 5px 0;
  }

  .home-modal__title {
    display: inline-block;
  }
}

#add-new-resource .home-modal__body {
  padding-bottom: 250px;
  max-height: 700px;
  overflow-y: auto;
}

.patents-modal {
  .modal__list-container {
    max-height: 390px;
    overflow-y: auto;
  }
}