.side-menu {
  position: fixed;
  top: 50px;
  bottom: 0;
  right: 0;
  border-left: 6px solid $theme-color-1;
  width: 45%;
  background-color: $white;
  z-index: 2;

  &.news-info {
    max-width: 320px;
  }

  button {
    border: 0;
    background-color: transparent;
    outline: none;
    box-shadow: none;
  }

  &__backdrop {
    content: "";
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.side-dropup {
  position: relative;

  &__button {
    position: relative;
    text-align: left;
    padding: 6px 12px;
    margin-top: 10px;
    width: 100%;
    min-height: 34px;
    color: $white;
    border-radius: 4px;

    img {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto 12px;
      max-height: 14px;
    }
  }

  &__menu {
    display: none;
    position: absolute;
    left: 0;
    bottom: 34px;
    width: 100%;
  }

  &__list {
    margin: 0;
    border: 1px solid $theme-color-1;
  }

  &__item {
    padding: 8px 12px;
    background-color: $white;
    border-bottom: 1px solid $lightest-gray;
  }

  &.active {
    .side-dropup__menu {
      display: block;
    }

    .side-dropup__button {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.news-info {
  li {
    border-bottom: 1px solid $lightest-gray;

    a,
    button {
      text-align: left;
      display: block;
      padding: 12px 24px;
      width: 100%;
    }
  }

  a,
  span {
    color: $light-gray;
  }

  img ~ span {
    margin-left: 10px;
  }

  &__content {
    position: absolute;
    top: 42px;
    bottom: 60px;
    width: 100%;
    overflow-y: auto;
  }

  &__title {
    padding: 12px 24px;
    margin: 0;
    border-bottom: 1px solid $lightest-gray;
    color: $theme-color-1;
  }

  &__myself-list {
    margin: 0;
  }

  &__myself-item {
    img {
      max-height: 18px;
    }
  }

  &__list-container {
    img {
      max-width: 18px;
    }
  }

  &__list-title {
    padding: 12px 24px;
    margin: 0;
    color: $white;
    background-color: $theme-color-1;
    font-weight: normal;

    span {
      color: inherit;
    }
  }

  &__list {
    margin: 0;
    padding-left: 15px;

    li {
      border-bottom: 0;
    }
  }

  &__list-container &__down-icon {
    float: right;
    margin: 5px 0;
    max-width: 12px;
  }

  &__sub-list {
    display: none;
    padding-left: 32px;
  }

  &__link-list {
    img {
      max-height: 16px;
    }
  }

  &__sign {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 24px;
    color: $theme-color-1;

    img {
      max-height: 20px;
    }

    span {
      color: inherit;
      font-weight: bold;
    }
  }
}

.article {
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px 30px 20px 20px;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  .news-content__operation-list {
    float: none;
    li {
      margin: 0 5px;
    }

    img {
      max-height: 16px;
    }
  }

  .news-content__detail {
    padding: 0;
  }

  &__container {
    max-width: 750px;
    color: $light-gray;

    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);

    transition: transform 0.4s;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    -ms-transition: -ms-transform 0.4s;
  }

  &__container.active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
  }

  &__title {
    margin: 20px 0 10px;
    color: $theme-color-2;
  }

  &__time-container {
    margin-bottom: 24px;
    font-size: $small-font;
    opacity: 0.7;

    li {
      display: inline-block;
      font-size: inherit;
    }
  }

  &__create-hint {
    color: $theme-color-1;
  }
}

.article-comment {
  margin: 30px 0 10px;

  &__title-container {
    margin: 0 0 10px;
  }

  &__title {
    display: inline-block;
    margin: 0;
    font-size: $big-font;
    color: $theme-color-2;
  }

  &__subtitle {
    margin-left: 10px;
    font-size: $big-font;
    color: $theme-color-1;
    font-weight: bold;
  }

  &__operation {
    padding: 10px 0;

    .button-fill {
      background-color: $theme-color-2;
      width: 120px;
    }
  }

  &__socials-container {
    float: left;
    display: inline-block;
    margin: 9px 0;
  }

  &__socials-title {
    font-size: $small-font;
  }

  &__socials {
    display: inline-block;
    margin: 0;
    font-size: 0;
  }

  &__social {
    vertical-align: middle;
    display: inline-block;
    margin: 0 2px;

    button {
      padding: 0;
      border: 0;
      background-color: transparent;
      outline: none;
      box-shadow: none;
    }

    img {
      max-height: 18px;
    }
  }

  &__list-container {
    margin: 30px 0;
  }

  &__list {
    margin: 0;
  }

  &__item {
    padding: 20px 0 10px;
    border-bottom: 1px solid $lightest-gray;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__item-title {
    margin: 0 0 5px;
    font-size: $big-font;
    color: $theme-color-1;
  }

  &__time-container {
    margin: 10px 0;
    font-size: $small-font;
    opacity: 0.7;

    li {
      display: inline-block;

      &:after {
        content: "|";
        vertical-align: middle;
        display: inline-block;
        margin: 0 5px;
        color: $theme-color-1;
      }

      &:last-child:after {
        display: none;
      }
    }
  }

  &__replay {
    cursor: pointer;

    img {
      max-height: 14px;
      cursor: pointer;
    }
  }
}