$small-font: 12px;
$main-font: 14px;
$big-font: 16px;
$bigger-font: 20px;
$bigest-font: 24px;
$title-font: 30px;

$theme-color-1: #84c0ca;
$theme-color-2: #093553;
$main-color: #333;
$black: #000;
$white: #fff;

$light-gray: #58595b;
$lightter-gray: #8a8a8a;
$lightest-gray: #e9eaea;

$light-blue: #e7f2f5;

$login-button-color-1: #5c90a0;
$login-button-color-2: #13405c;