@import '../fonts/font.css';
@import './var';

.detail {
  &__operation {
    position: absolute;
    top: 64px;
    padding: 12px 30px;
    width: 100%;
    background: $white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.13);
    z-index: 1;
  }

  &__search {
    position: relative;
    display: inline-block;
    min-width: 380px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto 12px;
      width: 20px;
      height: 20px;
      background-image: url(../img/header-search-grey.png);
      background-size: 100% auto;
    }

    input {
      padding: 12px 44px;
      border: 0;
      width: 100%;
    }
  }

  &__operation-button {
    padding: 6px 30px;
    margin: 0 8px;
    border: 0;
    min-width: 150px;
    height: 40px;
    font-size: $big-font;
    color: $theme-color-1;
    background-color: $lightest-gray;
    font-weight: bold;
    border-radius: 6px;
  }
}

.detail-pane {
  margin: auto;
  background-color: $white;
  max-width: 1300px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.13);

  &__container {
    position: absolute;
    top: 64px;
    bottom: 0;
    padding: 104px 40px 40px;
    width: 100%;
    background-color: #F4F5F8;
  }

  &__header {
    padding: 20px 30px 12px;
    border-bottom: 1px solid $lightest-gray;
  }

  &__filter-list {
    display: inline-block;
    margin: 0;

    li {
      display: inline-block;
    }

    select {
      border: 0;
      font-size: $main-font;
      height: 40px;
      background-color: transparent;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      box-shadow: none;
    }

    .keyword select,
    .channel select {
      width: 86px;
    }

    .sub-channel select {
      width: 114px;
    }
  }

  &__select {
    position: relative;
    margin-right: 30px;
  }

  &__select-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 12px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
  }

  &__date-picker {
    display: inline-block;
    padding: 10px;
    margin: 0 30px;

    img {
      margin: 0 5px;
      max-width: 12px;
    }
  }

  &__date-picker-pre {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }

  &__header-button-container {
    float: right;
    display: inline-block;
    font-size: 0;
  }

  &__header-button {
    width: 92px;
    height: 40px;
    border: 1px solid $lightter-gray;
    font-size: $main-font;
    color: $light-gray;
    font-weight: bold;
  }

  &__header-button.fill {
    border-color: $theme-color-2;
    color: $white;
    background-color: $theme-color-2;
  }
}

.detail-body {
  min-height: 400px;
}

.detail-footer {
  padding: 20px 30px;
  border-top: 1px solid $lightest-gray;

  &__list {
    display: inline-block;
    margin: 0;

    li {
      display: inline-block;
      margin: 0 15px;
    }

    li::before {
      content: "";
      display: inline-block;
      margin-right: 14px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
    }
  }

  &__animal::before {
    background-color: #FF455B;
  }

  &__microbiome::before {
    background-color: #BD10E0;
  }

  &__news::before {
    background-color: #4A90E2;
  }

  &__hint {
    float: left;
  }
}