@import '../fonts/font.css';
@import './var';

body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;

  &.classic {
    background-color: transparent;
  }
}

.classic-block {
  display: none !important;
}

.news-content {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &__tag {
    display: inline-block;
    margin: 10px 10px 10px 0;
    font-size: $smaller-font;
    color: $theme-color-2;
  }

  &__remove {
    float: right;
    display: inline-block;
    margin: 8px 0;
    width: 18px;
    height: 18px;
    background-image: url(../img/delete.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
  }

  &__title {
    margin: 0 0 15px;
    font-size: $bigest-font;
    line-height: 1.4em;
    color: $theme-color-2;
    font-weight: bold;
  }

  &__image-container {
    position: relative;

    .checkbox {
      position: absolute;
      top: 12px;
      right: 12px;
      width: 24px;
      height: 24px;
      border: 2px solid #979797;
      border-radius: 50%;
    }

    .checkbox:before {
      content: "";
      background-image: url(../img/checked-g.png);
      background-repeat: no-repeat;
      background-size: 14px 14px;
      background-position: center center;
    }
  }

  &__image {
    margin-bottom: 15px;
    width: 100%;
    min-height: 50px;
  }

  &__detail {
    padding: 0 0 10px;
    font-size: $small-font;
    color: $light-gray;

    p {
      line-height: 1.5em;
    }
  }

  &__type {
    font-size: $small-font;
    color: $theme-color-1;
  }

  &__time,
  &__summary {
    font-size: $small-font;
    color: $lightter-gray;
  }

  &__summary {
    span {
      vertical-align: middle;
    }

    span ~ span:before {
      content: "·";
      vertical-align: middle;
      display: inline-block;
      margin: 0 5px;
    }
  }

  &__operations {
    padding: 10px 0;
    border-bottom: 1px solid $theme-color-1;
  }

  &__operation-list {
    float: right;
    display: inline-block;
    font-size: 0;

    li {
      vertical-align: middle;
      display: inline-block;
    }

    img {
      max-height: 18px;
    }
  }

  &__comments {
    padding: 10px 0;

    span {
      margin-left: 5px;
    }
  }

  &__comments-button {
    padding: 0;
    border: 0;
    background-color: transparent;
    font-size: $small-font;
    color: $lightter-gray;
  }

  &__recent-update-title {
    padding: 0 15px 15px;
    border-right: 1px solid $theme-color-1;
    margin: 15px 0 0;
    max-width: 260px;
    color: $theme-color-2;
  }

  &__popular-bg {
    display: none;

    img {
      max-width: 100%;
    }
  }

  &__popular-operation {
    padding: 14px 10px;
    margin: auto;
    max-width: 1440px;

    .dropdown {
      position: relative;
    }

    .dropdown-menu {
      width: 100%;
    }
  }

  &__popular-today,
  &__popular-total {
    float: right;
    margin: 10px 20px;

    label {
      color: $theme-color-1;
    }

    span {
      color: $theme-color-2;
    }
  }

  &.popular {
    background-color: $white;
    top: 126px;
    margin-top: 15%
  }

  &__popular-bg {
    background-color: $white;
  }
}

.news-topics {
  padding-left: 10px;

  &__container {
    display: none;
    position: absolute;
    top: 0;
    left: 275px;
    padding: 20px;
  }

  &__topic {
    padding: 10px 0 20px;
    border-bottom: 1px solid $theme-color-1;
  }

  &__topic-detail {
    padding-left: 15px;
  }

  &__topic-image img {
    width: 100%;
  }

  &__topic-type {
    margin-top: 0;
    font-size: $big-font;
    color: $theme-color-1;
    font-weight: bold;
  }

  &__title {
    margin-bottom: 5px;
    font-size: $bigger-font;
    color: $theme-color-2;
  }

  &__source {
    font-size: $small-font;
    color: $lightter-gray;

    strong {
      color: $theme-color-1;
    }
  }

  &__topic-brief {
    color: $black;
    line-height: 1.5em;
  }

  &__storys {
    .media-top ~ .media-top {
      padding-left: 20px;
    }

    .news-content__title {
      margin-top: 15px;
      margin-bottom: 5px;
    }
  }

  &__story {
    padding: 15px 0;

    .news-content__title {
      margin-top: 0;
    }
  }

  &__story-image {
    width: 114px;
    height: 74px;
    background-color: $light-gray;

    img {
      object-fit: cover;
      object-position: center center;
    }
  }
}

.news-ads {
  padding-left: 30px;

  &__title {
    color: $theme-color-2;
  }

  &__detail {
    img {
      width: 90%;
    }

    p {
      margin-left: auto;
      margin-right: auto;
      max-width: 250px;
    }
  }

  &__slider-container {
    padding: 20px 40px;
    margin: 50px 15px;
    color: $white;
    background-color: $theme-color-2;

    p {
      font-size: $small-font;
      line-height: 1.5em;
      font-weight: lighter;
    }
  }

  &__article {
    max-width: 270px;
  }

  &__sliders {
    position: relative;
    padding: 20px 0 40px;

    .prev-icon,
    .next-icon {
      position: absolute;
      top: 50%;

      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
    }

    .prev-icon {
      left: 0;
    }

    .next-icon {
      right: 0;
    }

    .prev-icon img,
    .next-icon img {
      width: 20px;
    }
  }

  &__slider {
    width: 80%;
    margin: auto;

    img {
      width: 100%;
    }
  }
}

.grid {
  margin: auto;
  max-width: 1440px;
}

.grid-item {
  padding: 15px;
  cursor: pointer;

  > a {
    display: block;
  }
}

.filter {
  & ~ .news-content {
    top: 220px;
  }

  .container {
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px solid $lightest-gray;
  }

  &__list {
    margin: 0;
  }

  &__item {
    display: inline-block;
    padding: 5px;
    margin: 10px;
    font-size: $main-font;
    color: $theme-color-2;
    font-weight: bold;
    cursor: pointer;
  }

  &__item.figures {
    color: #efad4d;
  }

  &__item.presentation {
    color: #9aa0ce;
  }

  &__item.publications {
    color: #dd9392;
  }

  &__item.taxila {
    color: $theme-color-1;
  }

  &__icon {
    margin-left: 5px;
    max-width: 8px;
  }

  &__divider {
    display: inline-block;
    margin: 15px 0;
    width: 100px;
    height: 2px;
    background-color: $theme-color-1;
  }
}

.filter-detail {
  display: none;
  margin: auto;
  max-width: 1000px;

  &__item {
    display: inline-block;
    margin: 8px;
  }

  &__text {
    color: $lightter-gray;
  }

  &__icon {
    max-width: 10px;
  }
}

.chart {
  &__back-button {
    display: inline-block;
    border: 0;
    padding: 0 6px;
    background-color: transparent;
    width: 26px;

    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);

    img {
      vertical-align: top;
      max-width: 100%;
    }
  }

  &__page-title {
    display: table-cell;
    vertical-align: top;
    min-width: 230px;
    color: $theme-color-1;
    line-height: 2em;
    transform: translateX(-40px);
    -webkit-transform: translateX(-40px);

    h3 {
      vertical-align: top;
      display: inline-block;
      margin: 0 5px;
      font-size: 18px;
    }
  }
}

@media (max-width: 1199px) {
  .grid-item {
    width: 33.333333%;
  }
}

@media (max-width: 1024px) {
  .grid-item {
    width: 50%;
  }

  .news-content {
    top: 51px;
  }

  .news-topics {
    width: 100%;
  }

  .news-ads {
    display: none;
  }
}

@media (max-width: 767px) {
  .grid-item {
    width: 100%;
  }

  .filter {
    &__item {
      margin: 3px;
      font-size: $small-font;
    }
  }

  .filter-detail {
    &__item {
      font-size: $small-font;
    }
  }
}

.classic {
  .classic-none {
    display: none !important;
  }

  .classic-block {
    display: block !important;
  }

  .news-content {
    &__type {
      font-size: $big-font;
    }

    &__title {
      color: $black;
      font-size: $main-font;
      font-weight: normal;
    }
  }

  .grid {
    border-right: 1px solid $theme-color-1;
    margin: 0;
    max-width: 260px;
  }

  .grid-item {
    width: 100%;
  }
}

@media (max-width: 996px) {
  .news-topics {
    padding-left: 0;

    .col-6 {
      width: 100%;
    }

    &__container {
      position: relative;
      left: 0;
      padding: 0;
    }

    &__topic-detail {
      padding-left: 0;
    }

    &__topic-type {
      display: none;
    }

    &__title {
      margin: 10px 0;
      font-size: $big-font;
      line-height: 1.3em;
    }

    &__topic-brief {
      font-size: $small-font;
    }

    &__storys {
      .news-content__title {
        font-size: $small-font;
      }
    }
  }

  .news-content {
    &__recent-update-title {
      padding: 0;
      border-right: 0;
      margin: 0;
      max-width: none;
    }
  }

  .classic {
    .news-topics__topic-image{
      margin: 0 -15px;
      width: auto;
    }

    .news-content__grid-mobile-container {
      padding: 15px 0;
      border-top: 1px solid $theme-color-1;
    }

    .grid  {
      border-right: 0;
      max-width: none;
    }

    .grid-item {
      padding: 10px 0;
    }
  }
}