@import './var';

html,
body,
.login__container {
  height: 100%;
  font-family: heebolight, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.login {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/login-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;

  &__content {
    margin-top: 15%;
    margin-left: 40%;
    width: 60%;
  }

  &__logo {
    width: 70%;

    img {
      width: 100%;
    }
  }

  &__sign-links {
    width: 70%;
  }

  &__sign-list {
    display: inline-block;
    margin: 30px 0;
    color: $lightter-gray;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);

    li {
      display: inline-block;
      font-size: 0;
    }

    a {
      display: inline-block;
      padding: 6px 12px;
      font-size: $main-font;
      color: inherit;
    }

    li + li:before {
      vertical-align: middle;
      content: "";
      display: inline-block;
      width: 1px;
      height: 10px;
      border-left: 1px solid $theme-color-1;
    }
  }

  &__welcome {
    margin: 20px 0 40px;
    color: $lightter-gray;
  }
}

.sign-form {
  input[type="text"],
  input[type="password"] {
    padding: 6px 12px;
    border: 1px solid $lightter-gray;
    max-width: 270px;
    width: 100%;
    min-height: 30px;
    line-height: 24px;
    color: $theme-color-1;
    background-color: $light-blue;
    border-radius: 20px;
    outline: none;
  }

  ::-webkit-input-placeholder { /* WebKit browsers */
    color: $theme-color-1;
  }

  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $theme-color-1;
  }

  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $theme-color-1;
  }

  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $theme-color-1;
  }

  &__group {
    margin-top: 15px;
  }

  &__button-group {
    max-width: 270px;
    margin: 30px 0;

    a {
      font-size: $small-font;
      color: $lightter-gray;
    }
  }

  &__login-button {
    padding: 6px;
    border: 0;
    min-height: 36px;
    line-height: 30px;;
    max-width: 120px;
    width: 50%;
    color: $white;
    font-size: $big-font;
    border-radius: 20px;

    background: -webkit-linear-gradient(left, $login-button-color-1, $login-button-color-2);
    background: -moz-linear-gradient(left, $login-button-color-1, $login-button-color-2);
    background: -ms-linear-gradient(left, $login-button-color-1, $login-button-color-2);
    background: linear-gradient(to right, $login-button-color-1, $login-button-color-2);
  }
}

.sign-social {
  display: inline-block;

  &__container {
    max-width: 270px;
    width: 100%;
    color: $lightter-gray;
  }

  label {
    color: inherit;
  }

  li {
    margin-left: 10px;
    display: inline-block;
  }

  a {
    display: block;
  }

  img {
    max-width: 24px;
  }
}

@media (max-width: 959px) {
  .login__content {
    margin-left: 20%;
    width: 80%;
  }
}

@media (max-width: 767px) {
  .login {
    .col-6 {
      width: 100%;
    }
  }

  .login__content {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
  }
}